<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosta.humanstory.mapper.ApprovalMapper">

    <select id="getListWithPaging" resultType="com.kosta.humanstory.domain.ApproveVO">
        SELECT * FROM leaveRequest WHERE
        <if test="empNum == '101' or empNum == '201' or empNum == '301' or empNum == '401' or empNum == '501'">
            empNum IN (
            SELECT empNum FROM employee WHERE deptNum = (
            SELECT deptNum FROM employee WHERE empNum = #{empNum}
            ) AND empNum != #{empNum}
            )
        </if>
        <if test="empNum != '101' and empNum != '201' and empNum != '301' and empNum != '401' and empNum != '501'">
            empNum = #{empNum}
        </if>

    </select>

    <select id="getTotalCount" resultType="int">
        <![CDATA[
select count(*) from leaverequest where num = 1
		]]>
    </select>

    <select id="getOne" resultType="com.kosta.humanstory.domain.ApproveVO">

        select * from leaverequest where leaveNum = #{leaveNum}
    </select>



    <!--<resultMap type="org.zerock.domain.MemberVO" id="memberMap">
        <id property="userid" column="userid"/>
        <result property="userid" column="userid"/>
        <result property="userpw" column="userpw"/>
        <result property="userName" column="username"/>
        <result property="regDate" column="regdate"/>
        <result property="updateDate" column="updatedate"/>
        <collection property="authList" resultMap="authMap">
        </collection>
    </resultMap>

    <resultMap type="org.zerock.domain.AuthVO" id="authMap">
        <result property="userid" column="userid"/>
        <result property="auth" column="auth"/>
    </resultMap>

    <select id="read" resultMap="memberMap">
        SELECT
            mem.userid,  userpw, username, enabled, regdate, updatedate, auth
        FROM
            tbl_member mem LEFT OUTER JOIN tbl_member_auth auth on mem.userid = auth.userid
        WHERE mem.userid = #{userid}
    </select>


    <select id="getList" resultType="org.zerock.domain.BoardVO">
        <![CDATA[
		select * from tbl_board where bno > 0
		]]>  &lt;!&ndash; ![CDATA[ 내용 ]] 을 사용하면 <,>를 사용할 수 있다. &ndash;&gt;
    </select>

    <sql id="criteria">
        <trim prefix="(" suffix=") AND " prefixOverrides="OR">
            <foreach item='type' collection="typeArr">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            title like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'C'.toString()">
                            content like '%'||#{keyword}||'%'
                        </when>
                        <when test="type == 'W'.toString()">
                            writer like '%'||#{keyword}||'%'
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>

    <select id="getListWithPaging"
            resultType="org.zerock.domain.BoardVO">
        <![CDATA[
			select
				bno ,title,content,writer,regdate,updatedate,replycnt
			from
				(
					select /*+INDEX_DESC(tbl_board pk_board)*/
						rownum rn, bno ,title,content,writer,regdate,updatedate,replycnt
					from tbl_board
					where
				]]>

        <include refid="criteria"></include>

        <![CDATA[
					rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
		]]>
    </select>

    <insert id="insert">
        insert into tbl_board (bno,title,content,writer)
        values (seq_board.nextval, #{title}, #{content}, #{writer})
    </insert>

    <insert id="insertSelectKey">

        <selectKey keyProperty="bno" order="BEFORE"
                   resultType="long">
            select seq_board.nextval from dual
        </selectKey>

        insert into tbl_board (bno,title,content, writer)
        values (#{bno},
        #{title}, #{content}, #{writer})
    </insert>

    <select id="read" resultType="org.zerock.domain.BoardVO">
        select * from tbl_board where bno =
                                      #{bno}
    </select>

    <update id="update">
        update tbl_board
        set title= #{title},
            content=#{content},
            writer = #{writer},
            updateDate = sysdate
        where bno =
              #{bno}
    </update>

    <delete id="delete">
        delete tbl_board where bno = #{bno}
    </delete>

    <select id="getTotalCount" resultType="int">
        <![CDATA[select count(*) from tbl_board where
		]]>

        <include refid="criteria"></include>

        <![CDATA[
		bno > 0]]>
    </select>

    <update id="updateReplyCnt">
        update tbl_board set replycnt = replycnt + #{amount}
        where bno = #{bno}
    </update>
-->
    <!--//////////////////////////////////////////////////-->
    <!-- Mapper XML
    <select id="getLeaveRequests" resultType="LeaveVO">
        SELECT lr.empNum, lr.deptNum, d.deptName
        FROM LEAVEREQUEST lr
                 JOIN DEPARTMENT d ON lr.deptNum = d.deptNum
        WHERE lr.num = #{num} AND lr.empNum != #{empNum}
    </select>-->
</mapper>